In [1]:
import pandas as pd
def get_experience(arg):
    month_key_words = ['месяц', 'месяцев', 'месяца']
    year_key_words = ['год', 'лет', 'года']
    args_splited = arg.split(' ')
    month = 0
    year = 0
    for i in range(len(args_splited)):
        if args_splited[i] in month_key_words:
            month = args_splited[i-1]
        if args_splited[i] in year_key_words:
            year = args_splited[i-1]
    return int(year)*12 + int(month)

ser = pd.Series([
    'Опыт работы 8 лет 3 месяца',
    'Опыт работы 3 года 5 месяцев',
    'Опыт работы 1 год 9 месяцев',
    'Опыт работы 3 месяца',
    'Опыт работы 6 лет'
])

print(ser)
print(ser.apply(get_experience))

0      Опыт работы 8 лет 3 месяца
1    Опыт работы 3 года 5 месяцев
2     Опыт работы 1 год 9 месяцев
3            Опыт работы 3 месяца
4               Опыт работы 6 лет
dtype: object
0    99
1    41
2    21
3     3
4    72
dtype: int64

In [2]:
import pandas as pd

citibike_tripdata = pd.read_csv('data/citibike-tripdata.csv', sep=',')
citibike_tripdata_df = citibike_tripdata.copy()
citibike_tripdata_df.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [3]:
display(citibike_tripdata_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

None

In [31]:
citibike_tripdata_df.shape[0] - citibike_tripdata_df['start station id'].count()

169

In [4]:
print(citibike_tripdata_df['start station id'].mode())

0    281.0
Name: start station id, dtype: float64

In [5]:
print(citibike_tripdata_df['bikeid'].mode())

0    33887
Name: bikeid, dtype: int64

In [21]:
citibike_tripdata_df['usertype'].mode()
citibike_tripdata_df['usertype'].value_counts(normalize=True)

Subscriber    0.774007
Customer      0.225993
Name: usertype, dtype: float64

In [22]:
mode_usertype = citibike_tripdata_df['usertype'].mode()[0]
count_mode_user = citibike_tripdata_df[citibike_tripdata_df['usertype'] == mode_usertype].shape[0]
print(mode_usertype, count_mode_user, citibike_tripdata_df.shape[0])
print(round(count_mode_user / citibike_tripdata_df.shape[0], 2))

Subscriber 232202 300000
0.77

In [51]:
print(citibike_tripdata_df['gender'].value_counts())
print(max(citibike_tripdata_df['gender'].value_counts()))
print(min(citibike_tripdata_df['gender'].value_counts()))

1    183582
2     74506
0     41912
Name: gender, dtype: int64
183582
41912

In [35]:
male_count = citibike_tripdata_df[citibike_tripdata_df['gender'] == 1].shape[0]
female_count = citibike_tripdata_df[citibike_tripdata_df['gender'] == 0].shape[0]
print(male_count, female_count)
print(max([male_count, female_count]))

183582 41912
183582

In [15]:
print(citibike_tripdata_df['start station name'].value_counts())
print(citibike_tripdata_df['end station name'].value_counts())
print(citibike_tripdata_df['birth year'].min())

Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: start station name, Length: 759, dtype: int64
West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: end station name, Length: 765, dtype: int64
1885

In [52]:
display(citibike_tripdata_df.shape)

(300000, 14)

In [62]:
display(citibike_tripdata_df['birth year'])
citibike_tripdata_df['age'] = 2018 - citibike_tripdata_df['birth year']
display(citibike_tripdata_df['age'])
print(citibike_tripdata_df[citibike_tripdata_df['age'] > 60]['age'].count())

0         1980
1         1969
2         1975
3         1984
4         1994
          ...
299995    1990
299996    1982
299997    1991
299998    1975
299999    1966
Name: birth year, Length: 300000, dtype: int64

0         38
1         49
2         43
3         34
4         24
          ..
299995    28
299996    36
299997    27
299998    43
299999    52
Name: age, Length: 300000, dtype: int64

11837

In [69]:
print(citibike_tripdata_df[citibike_tripdata_df['age'] > 60].shape[0])

11837

In [77]:
citibike_tripdata_df['stoptime'] = pd.to_datetime(citibike_tripdata_df['stoptime'])
citibike_tripdata_df['starttime'] = pd.to_datetime(citibike_tripdata_df['starttime'])
citibike_tripdata_df['trip duration'] = citibike_tripdata_df['stoptime'] - citibike_tripdata_df['starttime']
print(citibike_tripdata_df['trip duration'])
print(citibike_tripdata_df['trip duration'].loc[3])

0        0 days 00:27:15.365000
1        0 days 00:02:12.200000
2        0 days 00:55:37.898000
3        0 days 00:07:16.837000
4        0 days 02:20:57.993000
                  ...
299995   0 days 00:07:23.648000
299996   0 days 00:11:33.138000
299997   0 days 00:05:12.997000
299998   0 days 00:56:00.092000
299999   0 days 00:03:45.051000
Name: trip duration, Length: 300000, dtype: timedelta64[ns]
0 days 00:07:16.837000

In [90]:
citibike_tripdata_df.loc[3, 'trip duration']

Timedelta('0 days 00:07:16.837000')

In [81]:
citibike_tripdata_df['weekend'] = citibike_tripdata_df['starttime'].dt.dayofweek
display(citibike_tripdata_df['weekend'])

0         5
1         5
2         5
3         5
4         5
         ..
299995    2
299996    2
299997    2
299998    2
299999    2
Name: weekend, Length: 300000, dtype: int64

In [82]:
weekend_count = 0
for i in citibike_tripdata_df['weekend']:
    if i == 5 or i == 6:
        weekend_count += 1
display(weekend_count)

115135

In [89]:
citibike_tripdata_df[(citibike_tripdata_df['weekend'] == 5) | (citibike_tripdata_df['weekend'] == 6)].shape[0]

115135

In [91]:
citibike_tripdata_df['weekend'] = citibike_tripdata_df['weekend'].apply(lambda x: 1 if x ==5 or x == 6 else 0)
citibike_tripdata_df['weekend'].sum()

115135

In [94]:
def get_time_of_day(time):
    if 0 <= time <= 6:
        return 'night'
    elif 6 < time <= 12:
        return 'morning'
    elif 12 < time <= 18:
        return 'day'
    elif 18 < time <= 23:
        return 'evening'
    
citibike_tripdata_df['time_of_day'] = citibike_tripdata_df['starttime'].dt.hour.apply(get_time_of_day)
display(citibike_tripdata_df['time_of_day'])

0           night
1           night
2           night
3           night
4           night
           ...
299995    evening
299996    evening
299997    evening
299998    evening
299999    evening
Name: time_of_day, Length: 300000, dtype: object

In [97]:
print(citibike_tripdata_df['time_of_day'].value_counts())
citibike_tripdata_df[citibike_tripdata_df['time_of_day'] == 'day'].shape[0] / citibike_tripdata_df[citibike_tripdata_df['time_of_day'] == 'night'].shape[0]

day        143012
morning     95530
evening     46373
night       15085
Name: time_of_day, dtype: int64

9.480411004308916